<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.home.middle.board.qna.QnaDAO">

	<sql id="qnaCondition">
  		<where>
  			<if test="kind=='contents'">
  				CONTENTS LIKE CONCAT('%',#{search},'%')
  			</if>
  			<if test="kind=='id'">
  				Q.ID LIKE CONCAT('%',#{search},'%')
  			</if>
  			
  			<if test="kind == 'title'">
  				TITLE LIKE CONCAT('%',#{search},'%')
  			</if>
  			<if test="kind == 'productName'">
  				PRODUCTNAME LIKE CONCAT('%',#{search},'%')
  			</if>
  		</where>
  	</sql>
  
	<select id="getTotalCount" resultType="Long">
  		SELECT COUNT (NUM) FROM QNA
  		
  	</select>
  	
    <update id="setBoardUpdate" parameterType="BbsDTO">
  		UPDATE QNA SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
  	</update>
  	
  	
 	
     <select id="getBoardList" parameterType="Pager" resultMap="getBoardDetailResult">
 	  SELECT (@rownum := @rownum + 1) AS R,N.*
		FROM (
			SELECT Q.NUM, Q.ID, Q.CONTENTS, Q.REGDATE, Q.DEPTH, Q.PRODUCTNUM, Q.TITLE, P.PRODUCTNAME, P.ID AS PRODUCTID FROM QNA Q
				LEFT JOIN 
					PRODUCT P 
				ON Q.PRODUCTNUM = P.PRODUCTNUM 
				<include refid="qnaCondition"></include>
				ORDER BY DEPTH DESC
		)N, (SELECT @rownum := 0) r
		LIMIT #{startRow},#{perPage}
 	 </select>
 	 
  	
    
    <!--상품 이름 꺼내기-->
    <select id="getProductName" parameterType="Long" resultType="String">
    	SELECT PRODUCTNAME FROM PRODUCT
    	WHERE PRODUCTNUM=#{productNum}
    </select>
    
    <!--글쓰기 -->
    <insert id="setBoardAdd" parameterType="QnaDTO"  >
    <!--파일 추가같이하고 싶으면 넣어라 -->
 	<!-- <selectKey keyProperty="num" resultType="Long" order="BEFORE">
      SELECT REVIEW_SEQ.NEXTVAL FROM DUAL
    </selectKey> -->
    
    INSERT INTO QNA (NUM,ID,TITLE,CONTENTS,REGDATE,HIT,DEPTH,PRODUCTNUM)
	VALUES(0,#{id},#{title},#{contents},NOW(),0,0,#{productNum})
    </insert>
    
    
   <delete id="setBoardDelete" parameterType="BbsDTO">
	DELETE FROM QNA WHERE  NUM = #{num}
	</delete>
    
  <!--파일 추가-->
    <insert id="setProductFileAdd" parameterType="QnaDTO">
	INSERT INTO QNAFILES
	VALUES (0,#{num}, #{fileName}, #{oriName})
	</insert>
	
<!-- 	<select id="getBoardFileList" parameterType="BbsDTO" resultType="BoardFileDTO">
  		SELECT * FROM QNAFILES WHERE NUM=#{num}
  	</select> 
       -->
      
      
   <select id="getBoardDetail" parameterType="BbsDTO" resultMap="getBoardDetailResult"> 
   	SELECT Q.NUM, Q.ID, Q.CONTENTS, Q.REGDATE, Q.DEPTH, Q.PRODUCTNUM, Q.TITLE, P.PRODUCTNAME FROM QNA Q
 			LEFT JOIN 
 				PRODUCT P 
 			ON Q.PRODUCTNUM = P.PRODUCTNUM 
  	WHERE Q.NUM=#{num}
   </select>
   
      <resultMap type="QnaDTO" id="getBoardDetailResult">
   	<!--select된 것들중에 pk를 id에다가 써줘  -->
        <id column="num" property="num"/>
        <result column="R" property="r"/>
  		<result column="TITLE" property="title"/>
  		<result column="ID" property="id"/>
  		<result column="CONTENTS" property="contents"/>
  		<result column="REGDATE" property="regDate"/>
  		<result column="HIT" property="hit"/>
  		<result column="DEPTH" property="depth"/>
	     <result column="productNum" property="productNum"/>
	 <association property="productDTO" javaType="ProductDTO">
	 	<result column="PRODUCTNAME" property="productName"/>
	 	<result column="PRODUCTID" property="id"/>
	 </association>
	<!--type에 멤버메서드중에서 속성을 넣어주기  -->
	<!--of type은 제네릭 타입을 쓰라는 뜻입니다 column은 대소문자구문 하지 않습니다-->
	<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
		<id column="FILENUM" property="fileNum" />
		<result column="FILENAME"  property="fileName"/>
		<result column="ORINAME" property="oriName" />
	</collection>
	
   </resultMap>
</mapper>