<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.home.middle.board.review.ReviewDAO">
    
    
     <sql id="reviewCondition">
  		<where>
  			<if test="kind=='contents'">
  				CONTENTS LIKE CONCAT('%',#{search},'%')
  			</if>
  			<if test="kind=='id'">
  				R.ID LIKE CONCAT('%',#{search},'%')
  			</if>
  			<if test="kind == 'productName'">
  				PRODUCTNAME LIKE CONCAT('%',#{search},'%')
  			</if>
  		</where>
  	</sql>
  
	<select id="getTotalCount" resultType="Long">
  		SELECT COUNT(NUM) FROM REVIEW
  		
  	</select>
    
     <select id="getBoardList" parameterType="Pager" resultMap="getBoardDetailResult">
 	  	SELECT (@rownum := @rownum + 1) AS R, N.*
			FROM (
				
				SELECT R.NUM, R.ID, R.CONTENTS, R.REGDATE, R.DEPTH, R.PRODUCTNUM, P.PRODUCTNAME, P.ID AS PRODUCTID  FROM REVIEW R
					LEFT JOIN 
						PRODUCT P 
					ON R.PRODUCTNUM = P.PRODUCTNUM 
					<include refid="reviewCondition"></include>
					ORDER BY DEPTH DESC
			)N, (SELECT @rownum := 0) r
			LIMIT #{startRow},#{perPage}
 	 </select>
   
    <!--상품 이름 꺼내기 -->
    <select id="getProductName" parameterType="Long" resultType="String">
    	SELECT PRODUCTNAME FROM PRODUCT
    	WHERE PRODUCTNUM=#{productNum}
    </select>
    
    <!--글쓰기 -->
    <insert id="setBoardAdd" parameterType="ReviewDTO"  >
    
    INSERT INTO REVIEW (NUM,ID,CONTENTS,REGDATE,DEPTH,PRODUCTNUM)
	VALUES(0,#{id},#{contents},NOW(),0,#{productNum})
    </insert>
    
   <!--  <select id="getBoardFileList" parameterType="BbsDTO" resultType="BoardFileDTO">
  	SELECT * FROM REVIEWFILE WHERE NUM=#{num}
  	</select>
  	
    파일 추가
    <insert id="setBoardFileAdd" parameterType="ReviewDTO">
	INSERT INTO REVIEWFILE
	VALUES (0,#{num}, #{fileName}, #{oriName})
	</insert> -->
    
   <!--글삭제-->
   <delete id="setBoardDelete" parameterType="ReviewDTO">
	DELETE FROM REVIEW WHERE NUM = #{num}
   </delete>
   
   <!--해당 상품 삭제되면 글 삭제  -->
   <delete id="setProductBoardDelete" parameterType="ReviewDTO">
   	DELETE FROM REVIEW
	WHERE PRODUCTNUM=#{productNum}
   </delete>
    
     <update id="setBoardUpdate" parameterType="BbsDTO">
  		UPDATE REVIEW SET CONTENTS=#{contents} WHERE NUM=#{num}
  	</update>
     <select id="getBoardDetail" parameterType="BbsDTO" resultType="ReviewDTO"> 
   		SELECT *
   		FROM REVIEW 
   		WHERE NUM=#{num}
   </select>
     <resultMap type="REVIEWDTO" id="getBoardDetailResult">
   		<!--select된 것들중에 pk를 id에다가 써줘  -->
        <id column="NUM" property="num"/>
        <result column="R" property="r"/>
  		<result column="ID" property="id"/>
  		<result column="CONTENTS" property="contents"/>
  		<result column="REGDATE" property="regDate"/>
  		<result column="DEPTH" property="depth"/>
	    <result column="PRODUCTNUM" property="productNum"/>
	     
	 <association property="productDTO" javaType="ProductDTO">
	 	<result column="PRODUCTNAME" property="productName"/>
	 	<result column="PRODUCTID " property="id"/>
	</association>
	
	
	
	
   </resultMap>
   </mapper>
